.icon-style {
    width: 50px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-list {
    display: flex;
    gap: 30px;

}
.nav-list a {
color: #000;
}
.burger-list {
    position: absolute;
    width: 100%;
    background-color: rgb(221, 211, 211);
    right: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    top: 65px;
    height: 100vh;
    font-size: 40px;
}
.nav-item {
    font-size: 36px;
    
}
@media screen and (max-width:350px) {
    .burger-list {
        gap: 25px;
        font-size: 25px;
    }
}
