.footer {
    background-color: rgb(244, 216, 182);
    padding-top: 20px;
    padding-bottom: 20px;
    

}

.footer p {
    color: #000;
    font-size: 20px;
}
.footer-container {
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: space-between;

}